<mat-tab-group id="main-mat-tab-group">
    <mat-tab label="PRÓXIMAS">
        <div fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%;">
            <ng-container *ngFor="let live of livesNext" style="padding: 0.5%;">
                <mat-card class="mat-card-live" fxFlex="0 1 calc(33.3% - 11px)"
                fxFlex.lt-md="0 1 calc(50% - 11px)"
                fxFlex.lt-sm="100%">
                
                    <mat-card-title class="mat-card-title-live">

                        <div class="row">
                            <p>
                                <span style="font-size: 0.9rem;" fxFlex="70%" fxLayoutAlign="start center">{{live.liveName}}</span>
                                <span fxFlex="5%"></span>
                                <span style="font-size: 0.7rem;" fxFlex="25%" fxLayoutAlign="end center">{{live.liveDate}}</span>
                            </p>

                            <p style="font-size: 0.7rem;">
                                Canal: <span>{{live.channelName}}</span>
                            </p>
                        </div>  
                    </mat-card-title>

                    <mat-card-content fxLayoutAlign="center center">
                      <div>
                        <iframe
                            width="390"
                            height="320"
                            [src]="live.urlSafe"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                        ></iframe>
                      </div>
                    </mat-card-content>
                </mat-card>
            </ng-container>


        </div>
    </mat-tab>
    <mat-tab label="REALIZADAS">
        <!-- Grid para as lives, configurações:
            Layout Direction: row;
            Alignment in Layout Direction (horizontal): start (default);
            Alignment in Perpendicular Direction (vertical): center

            https://tburleson-layouts-demos.firebaseapp.com/#/docs
        -->
        <div fxLayout="row wrap" fxLayoutAlign="start center" style="padding: 2%;">

            <!-- Segundo componente usado para que, a cada live (no caso, livesPrevious), um novo card
            seja criado e para que possa ser possível executar as definições de grid layout definidas -->
            <ng-container *ngFor="let live of livesPrevious" style="padding: 0.5%;">

                <!--EXPLICAÇÃO fxFlex
                    fxFlex="0 1 calc(33.3% - 11px)" -> para telas grandes, serão exibidas 3 lives
                    fxFlex.lt-md="0 1 calc(50% - 11px)" -> para telas medias, serão exibidas 2 lives
                    fxFlex.lt-sm="100%" -> para telas pequenas, será exibida 1 live

                        Os valores definidos definem em como esta div será dividida de acordo com o tamanho
                    da tela.

                        Para usar o fxFlex, instala-se a dependencia @angular/flex-layout
                -->
                <mat-card class="mat-card-live" fxFlex="0 1 calc(33.3% - 11px)"
                fxFlex.lt-md="0 1 calc(50% - 11px)"
                fxFlex.lt-sm="100%">

                    <mat-card-title class="mat-card-title-live">

                        <!--Layout definido em linhas-->
                        <div class="row">
                            <!--Tag <p> para exibir o nome e a data da live. Devem estar dispostas na mesma linha-->
                            <p>
                                <span style="font-size: 0.9rem;" fxFlex="70%" fxLayoutAlign="start center">{{live.liveName}}</span>
                                <span fxFlex="5%"></span>
                                <span style="font-size: 0.7rem;" fxFlex="25%" fxLayoutAlign="end center">{{live.liveDate}}</span>
                            </p>

                            <p style="font-size: 0.7rem;">
                                Canal: <span>{{live.channelName}}</span>
                            </p>
                        </div>  
                    </mat-card-title>

                    <!--
                        fxLayoutAlign="center center"
                        1º Alinhamento vertical
                        2º Alinhamento horizontal
                    -->
                    <mat-card-content fxLayoutAlign="center center">
                      <div>
                        <!--
                            [src]="live.urlSafe" -> atributo contido no model. Não acessado por {{}} como nos outros casos
                            frameborder="0" -> borda
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                -> permissões que devem ser passadas
                        -->
                        <iframe
                            width="390"
                            height="320"
                            [src]="live.urlSafe"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                        ></iframe>

                        
                      </div>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </mat-tab>
</mat-tab-group>